InstrumentUI/Service References/DataService/InstrumentService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QTA.Services.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QTA.Services.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://rsi-dev-mohinder.india.rsystems.com/InstrumentServicesRelease/InstrumentService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="EnumResultStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNASSIGNED" />
      <xs:enumeration value="ASSIGNED" />
      <xs:enumeration value="SUCCESS" />
      <xs:enumeration value="FAILURE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EnumResultStatus" nillable="true" type="tns:EnumResultStatus" />
  <xs:simpleType name="EnumStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVE" />
      <xs:enumeration value="DISABLED" />
      <xs:enumeration value="TERMINATED" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EnumStatus" nillable="true" type="tns:EnumStatus" />
  <xs:simpleType name="EnumBool">
    <xs:restriction base="xs:string">
      <xs:enumeration value="YES" />
      <xs:enumeration value="NO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EnumBool" nillable="true" type="tns:EnumBool" />
  <xs:complexType name="ArrayOfRDHeaderDataWithSpectralFile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RDHeaderDataWithSpectralFile" nillable="true" type="tns:RDHeaderDataWithSpectralFile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRDHeaderDataWithSpectralFile" nillable="true" type="tns:ArrayOfRDHeaderDataWithSpectralFile" />
  <xs:complexType name="RDHeaderDataWithSpectralFile">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RDHeaderData">
        <xs:sequence>
          <xs:element minOccurs="0" name="SpectralData" nillable="true" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RDHeaderDataWithSpectralFile" nillable="true" type="tns:RDHeaderDataWithSpectralFile" />
  <xs:complexType name="RDHeaderData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnalysisId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CateogryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HardwareId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestId" type="xs:int" />
      <xs:element minOccurs="0" name="SampleClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SampleDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SampleId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RDHeaderData" nillable="true" type="tns:RDHeaderData" />
  <xs:complexType name="ControlChartCriteriaWrapper">
    <xs:sequence>
      <xs:element minOccurs="0" name="Companies" nillable="true" type="tns:ArrayOfCompany" />
      <xs:element minOccurs="0" name="SampleIds" nillable="true" type="tns:ArrayOfSampleIdentifierCriteria" />
      <xs:element minOccurs="0" name="locations" nillable="true" type="tns:ArrayOfLocationCriteria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ControlChartCriteriaWrapper" nillable="true" type="tns:ControlChartCriteriaWrapper" />
  <xs:complexType name="ArrayOfCompany">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Company" nillable="true" type="tns:Company" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompany" nillable="true" type="tns:ArrayOfCompany" />
  <xs:complexType name="Company">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Company" nillable="true" type="tns:Company" />
  <xs:complexType name="ArrayOfSampleIdentifierCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SampleIdentifierCriteria" nillable="true" type="tns:SampleIdentifierCriteria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSampleIdentifierCriteria" nillable="true" type="tns:ArrayOfSampleIdentifierCriteria" />
  <xs:complexType name="SampleIdentifierCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="LocationId" type="xs:int" />
      <xs:element minOccurs="0" name="SampleId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SampleIdentifierCriteria" nillable="true" type="tns:SampleIdentifierCriteria" />
  <xs:complexType name="ArrayOfLocationCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocationCriteria" nillable="true" type="tns:LocationCriteria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocationCriteria" nillable="true" type="tns:ArrayOfLocationCriteria" />
  <xs:complexType name="LocationCriteria">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Location">
        <xs:sequence>
          <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LocationCriteria" nillable="true" type="tns:LocationCriteria" />
  <xs:complexType name="Location">
    <xs:sequence>
      <xs:element minOccurs="0" name="LocationId" type="xs:int" />
      <xs:element minOccurs="0" name="LocationName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
  <xs:complexType name="TrendChartDataWrapper">
    <xs:sequence>
      <xs:element minOccurs="0" name="listTraitResult" nillable="true" type="tns:ArrayOfTraitResult" />
      <xs:element minOccurs="0" name="listTrendChartData" nillable="true" type="tns:ArrayOfTrendChartData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrendChartDataWrapper" nillable="true" type="tns:TrendChartDataWrapper" />
  <xs:complexType name="ArrayOfTraitResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TraitResult" nillable="true" type="tns:TraitResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTraitResult" nillable="true" type="tns:ArrayOfTraitResult" />
  <xs:complexType name="TraitResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ModalVariance" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TraitName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TraitResult" nillable="true" type="tns:TraitResult" />
  <xs:complexType name="ArrayOfTrendChartData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrendChartData" nillable="true" type="tns:TrendChartData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrendChartData" nillable="true" type="tns:ArrayOfTrendChartData" />
  <xs:complexType name="TrendChartData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnalysisId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocalTimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Material" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SampleId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCategory" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrendChartData" nillable="true" type="tns:TrendChartData" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LocationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpectrometerSerialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TestStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PresentationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SampleClassName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AnalysisId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SampleId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Details" nillable="true" type="tns:ArrayOfResultDetail" />
      <xs:element minOccurs="0" name="Identifiers" nillable="true" type="tns:ArrayOfResultIdentifier" />
      <xs:element minOccurs="0" name="LocalTimeStamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
  <xs:complexType name="ArrayOfResultDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultDetail" nillable="true" type="tns:ResultDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultDetail" nillable="true" type="tns:ArrayOfResultDetail" />
  <xs:complexType name="ResultDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="TraitName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuantFileVersion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpperBusinessRuleTestValue" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LowerBusinessRuleTestValue" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BusinessRuleText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TestStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestOrder" type="xs:int" />
      <xs:element minOccurs="0" name="DisplayText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultDetail" nillable="true" type="tns:ResultDetail" />
  <xs:complexType name="ArrayOfResultIdentifier">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultIdentifier" nillable="true" type="tns:ResultIdentifier" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultIdentifier" nillable="true" type="tns:ArrayOfResultIdentifier" />
  <xs:complexType name="ResultIdentifier">
    <xs:sequence>
      <xs:element minOccurs="0" name="Attribute" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultIdentifier" nillable="true" type="tns:ResultIdentifier" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="tns:Company" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="tns:Location" />
      <xs:element minOccurs="0" name="UserRole" nillable="true" type="tns:UserRole" />
      <xs:element minOccurs="0" name="UserAccessibleSpectrometerType" nillable="true" type="tns:SpectrometerTypeDetail" />
      <xs:element minOccurs="0" name="UserAccessibleTraits" nillable="true" type="tns:ArrayOfModelGroup" />
      <xs:element minOccurs="0" name="UserAccessibleSampleClasses" nillable="true" type="tns:ArrayOfSampleClass" />
      <xs:element minOccurs="0" name="UserAccessibleSampleTypes" nillable="true" type="tns:ArrayOfSampleType" />
      <xs:element minOccurs="0" name="FullSync" type="tns:EnumBool" />
      <xs:element minOccurs="0" name="BackgroundTTL" type="xs:int" />
      <xs:element minOccurs="0" name="WarmParam" type="xs:decimal" />
      <xs:element minOccurs="0" name="CleanParam" type="xs:decimal" />
      <xs:element minOccurs="0" name="Status" type="tns:EnumStatus" />
      <xs:element minOccurs="0" name="StatusDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ChangedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="UserRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="RoleId" type="xs:int" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserRole" nillable="true" type="tns:UserRole" />
  <xs:complexType name="SpectrometerTypeDetail">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SpectrometerType">
        <xs:sequence>
          <xs:element minOccurs="0" name="BackgroundFile" nillable="true" type="tns:BinaryFile" />
          <xs:element minOccurs="0" name="WorkflowFile" nillable="true" type="tns:BinaryFile" />
          <xs:element minOccurs="0" name="Macros" nillable="true" type="tns:ArrayOfBinaryFile" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SpectrometerTypeDetail" nillable="true" type="tns:SpectrometerTypeDetail" />
  <xs:complexType name="SpectrometerType">
    <xs:sequence>
      <xs:element minOccurs="0" name="SpectrometerTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="SpectrometerTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="tns:EnumStatus" />
      <xs:element minOccurs="0" name="StatusDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpectrometerType" nillable="true" type="tns:SpectrometerType" />
  <xs:complexType name="BinaryFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Type" type="tns:EnumFileType" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChangedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChangedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BinaryFile" nillable="true" type="tns:BinaryFile" />
  <xs:simpleType name="EnumFileType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="XPM">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="WF">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MACRO">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EnumFileType" nillable="true" type="tns:EnumFileType" />
  <xs:complexType name="ArrayOfBinaryFile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BinaryFile" nillable="true" type="tns:BinaryFile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBinaryFile" nillable="true" type="tns:ArrayOfBinaryFile" />
  <xs:complexType name="ArrayOfModelGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModelGroup" nillable="true" type="tns:ModelGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModelGroup" nillable="true" type="tns:ArrayOfModelGroup" />
  <xs:complexType name="ModelGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TraitId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpectrometerTypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Material" nillable="true" type="tns:Material" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="tns:Category" />
      <xs:element minOccurs="0" name="SubCategory" nillable="true" type="tns:SubCategory" />
      <xs:element minOccurs="0" name="Presentation" nillable="true" type="tns:Presentation" />
      <xs:element minOccurs="0" name="PredictionType" type="xs:int" />
      <xs:element minOccurs="0" name="Calculated" type="xs:int" />
      <xs:element minOccurs="0" name="CalculationInputs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomogeneityCheck" type="tns:EnumBool" />
      <xs:element minOccurs="0" name="ModelGroupStage" nillable="true" type="tns:ModelGroupStage" />
      <xs:element minOccurs="0" name="XpmFile" nillable="true" type="tns:BinaryFile" />
      <xs:element minOccurs="0" name="Status" type="tns:EnumStatus" />
      <xs:element minOccurs="0" name="StatusDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ChangedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChangedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayOrder" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelGroup" nillable="true" type="tns:ModelGroup" />
  <xs:complexType name="Material">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaterialId" type="xs:int" />
      <xs:element minOccurs="0" name="MaterialName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Material" nillable="true" type="tns:Material" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="SubCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="SubCategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="SubCategoryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubCategory" nillable="true" type="tns:SubCategory" />
  <xs:complexType name="Presentation">
    <xs:sequence>
      <xs:element minOccurs="0" name="PresentationId" type="xs:int" />
      <xs:element minOccurs="0" name="PresentationName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Presentation" nillable="true" type="tns:Presentation" />
  <xs:complexType name="ModelGroupStage">
    <xs:sequence>
      <xs:element minOccurs="0" name="ModelGroupStageId" type="xs:int" />
      <xs:element minOccurs="0" name="ModelGroupStageName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelGroupStage" nillable="true" type="tns:ModelGroupStage" />
  <xs:complexType name="ArrayOfSampleClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SampleClass" nillable="true" type="tns:SampleClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSampleClass" nillable="true" type="tns:ArrayOfSampleClass" />
  <xs:complexType name="SampleClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SampleClassName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SampleClass" nillable="true" type="tns:SampleClass" />
  <xs:complexType name="ArrayOfSampleType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SampleType" nillable="true" type="tns:SampleType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSampleType" nillable="true" type="tns:ArrayOfSampleType" />
  <xs:complexType name="SampleType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SampleTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SampleId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TraitName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LCL" type="xs:decimal" />
      <xs:element minOccurs="0" name="UCL" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SampleType" nillable="true" type="tns:SampleType" />
  <xs:complexType name="SyncUser">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:User">
        <xs:sequence>
          <xs:element minOccurs="0" name="UserAccessibleSampleIdentifiers" nillable="true" type="tns:ArrayOfMaterialSampleIdentifier" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SyncUser" nillable="true" type="tns:SyncUser" />
  <xs:complexType name="ArrayOfMaterialSampleIdentifier">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MaterialSampleIdentifier" nillable="true" type="tns:MaterialSampleIdentifier" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMaterialSampleIdentifier" nillable="true" type="tns:ArrayOfMaterialSampleIdentifier" />
  <xs:complexType name="MaterialSampleIdentifier">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Material">
        <xs:sequence>
          <xs:element minOccurs="0" name="SampleIdentifiers" nillable="true" type="tns:ArrayOfSampleIdentifier" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MaterialSampleIdentifier" nillable="true" type="tns:MaterialSampleIdentifier" />
  <xs:complexType name="ArrayOfSampleIdentifier">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SampleIdentifier" nillable="true" type="tns:SampleIdentifier" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSampleIdentifier" nillable="true" type="tns:ArrayOfSampleIdentifier" />
  <xs:complexType name="SampleIdentifier">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDropDown" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsNumeric" type="xs:boolean" />
      <xs:element minOccurs="0" name="DefaultValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayOrder" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SampleIdentifier" nillable="true" type="tns:SampleIdentifier" />
  <xs:complexType name="ArrayOfAlert">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Alert" nillable="true" type="tns:Alert" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlert" nillable="true" type="tns:ArrayOfAlert" />
  <xs:complexType name="Alert">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="TemplateId" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" type="tns:EnumLanguage" />
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alert" nillable="true" type="tns:Alert" />
  <xs:simpleType name="EnumLanguage">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ENGLISH" />
      <xs:enumeration value="GERMAN" />
      <xs:enumeration value="SPANISH" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EnumLanguage" nillable="true" type="tns:EnumLanguage" />
  <xs:complexType name="Error">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Error" nillable="true" type="tns:Error" />
  <xs:simpleType name="EnumHelpCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INSTRUMENT_LOGIN">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="INSTRUMENT_SYNCHRONIZATION">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="INSTRUMENT_CONSOLE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="INSTRUMENT_ANALYZE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="INSTRUMENT_RESULT">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="INSTRUMENT_PREVIOUS_RESULT">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="INSTRUMENT_SUBMITTED">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="INSTRUMENT_ADMIN_SUPPORT">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="INSTRUMENT_ADMIN_PREFERENCE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="INSTRUMENT_ADMIN_SETUP">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="INSTRUMENT_CHANGE_PASSWORD">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EnumHelpCode" nillable="true" type="tns:EnumHelpCode" />
  <xs:simpleType name="EnumRequestIdType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SAMPLE_ID">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ANALYSIS_ID">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EnumRequestIdType" nillable="true" type="tns:EnumRequestIdType" />
  <xs:simpleType name="EnumReportFormat">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PDF">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="WORD">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EXCEL">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EnumReportFormat" nillable="true" type="tns:EnumReportFormat" />
  <xs:complexType name="ArrayOfTestCount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TestCount" nillable="true" type="tns:TestCount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTestCount" nillable="true" type="tns:ArrayOfTestCount" />
  <xs:complexType name="TestCount">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TestOutlierCount">
        <xs:sequence>
          <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Material" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Outlier" type="xs:int" />
          <xs:element minOccurs="0" name="ReqOrder" type="xs:int" />
          <xs:element minOccurs="0" name="Samples" type="xs:int" />
          <xs:element minOccurs="0" name="Test" type="xs:int" />
          <xs:element minOccurs="0" name="Trait" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TestCount" nillable="true" type="tns:TestCount" />
  <xs:complexType name="TestOutlierCount">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="LocationId" type="xs:int" />
      <xs:element minOccurs="0" name="MaterialId" type="xs:int" />
      <xs:element minOccurs="0" name="TraitId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestOutlierCount" nillable="true" type="tns:TestOutlierCount" />
  <xs:complexType name="TrendChartCriteriaWrapper">
    <xs:sequence>
      <xs:element minOccurs="0" name="Companies" nillable="true" type="tns:ArrayOfCompany" />
      <xs:element minOccurs="0" name="Identifiers" nillable="true" type="tns:ArrayOfSampleIdentifierTrendChartCriteria" />
      <xs:element minOccurs="0" name="categories" nillable="true" type="tns:ArrayOfCategoryCriteria" />
      <xs:element minOccurs="0" name="locations" nillable="true" type="tns:ArrayOfLocationCriteria" />
      <xs:element minOccurs="0" name="materials" nillable="true" type="tns:ArrayOfMaterialCriteria" />
      <xs:element minOccurs="0" name="subCategories" nillable="true" type="tns:ArrayOfSubCategoryCriteria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrendChartCriteriaWrapper" nillable="true" type="tns:TrendChartCriteriaWrapper" />
  <xs:complexType name="ArrayOfSampleIdentifierTrendChartCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SampleIdentifierTrendChartCriteria" nillable="true" type="tns:SampleIdentifierTrendChartCriteria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSampleIdentifierTrendChartCriteria" nillable="true" type="tns:ArrayOfSampleIdentifierTrendChartCriteria" />
  <xs:complexType name="SampleIdentifierTrendChartCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttribId" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationId" type="xs:int" />
      <xs:element minOccurs="0" name="MaterialId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SampleIdentifierTrendChartCriteria" nillable="true" type="tns:SampleIdentifierTrendChartCriteria" />
  <xs:complexType name="ArrayOfCategoryCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryCriteria" nillable="true" type="tns:CategoryCriteria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryCriteria" nillable="true" type="tns:ArrayOfCategoryCriteria" />
  <xs:complexType name="CategoryCriteria">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Category">
        <xs:sequence>
          <xs:element minOccurs="0" name="MaterialId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CategoryCriteria" nillable="true" type="tns:CategoryCriteria" />
  <xs:complexType name="ArrayOfMaterialCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MaterialCriteria" nillable="true" type="tns:MaterialCriteria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMaterialCriteria" nillable="true" type="tns:ArrayOfMaterialCriteria" />
  <xs:complexType name="MaterialCriteria">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Material">
        <xs:sequence>
          <xs:element minOccurs="0" name="LocationId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MaterialCriteria" nillable="true" type="tns:MaterialCriteria" />
  <xs:complexType name="ArrayOfSubCategoryCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubCategoryCriteria" nillable="true" type="tns:SubCategoryCriteria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubCategoryCriteria" nillable="true" type="tns:ArrayOfSubCategoryCriteria" />
  <xs:complexType name="SubCategoryCriteria">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SubCategory">
        <xs:sequence>
          <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SubCategoryCriteria" nillable="true" type="tns:SubCategoryCriteria" />
  <xs:complexType name="TestCountCriteriaWrapper">
    <xs:sequence>
      <xs:element minOccurs="0" name="Companies" nillable="true" type="tns:ArrayOfCompany" />
      <xs:element minOccurs="0" name="locations" nillable="true" type="tns:ArrayOfLocationCriteria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestCountCriteriaWrapper" nillable="true" type="tns:TestCountCriteriaWrapper" />
  <xs:complexType name="UserWithReportRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:User">
        <xs:sequence>
          <xs:element minOccurs="0" name="AnalysisId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReportType" type="tns:EnumReportType" />
          <xs:element minOccurs="0" name="SampleId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SpectralData" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="TimeStamp" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UICulture" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserWithReportRequest" nillable="true" type="tns:UserWithReportRequest" />
  <xs:simpleType name="EnumReportType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SA">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="COFA">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TRENDCHART">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TESTCOUNT">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="HISTORY">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CONTROLCHART">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RD">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SPECTRALPLOT">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EnumReportType" nillable="true" type="tns:EnumReportType" />
  <xs:complexType name="CustomUserReportHeader">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyLogo" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="IsAlgorithamVersion" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomUserReportHeader" nillable="true" type="tns:CustomUserReportHeader" />
  <xs:complexType name="HistoricalCriteriaWrapper">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FavoriteReport">
        <xs:sequence>
          <xs:element minOccurs="0" name="Companies" nillable="true" type="tns:ArrayOfCompany" />
          <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Locations" nillable="true" type="tns:ArrayOfLocationWithCompany" />
          <xs:element minOccurs="0" name="Materials" nillable="true" type="tns:ArrayOfMaterialWithLocation" />
          <xs:element minOccurs="0" name="SelectedColumns" nillable="true" type="tns:ArrayOfSelectedColumnData" />
          <xs:element minOccurs="0" name="SelectedCompany" type="xs:int" />
          <xs:element minOccurs="0" name="SelectedLocations" nillable="true" type="tns:ArrayOfLocation" />
          <xs:element minOccurs="0" name="SelectedMaterials" nillable="true" type="tns:ArrayOfMaterial" />
          <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UserId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HistoricalCriteriaWrapper" nillable="true" type="tns:HistoricalCriteriaWrapper" />
  <xs:complexType name="FavoriteReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReportID" type="xs:int" />
      <xs:element minOccurs="0" name="ReportName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FavoriteReport" nillable="true" type="tns:FavoriteReport" />
  <xs:complexType name="ArrayOfLocationWithCompany">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocationWithCompany" nillable="true" type="tns:LocationWithCompany" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocationWithCompany" nillable="true" type="tns:ArrayOfLocationWithCompany" />
  <xs:complexType name="LocationWithCompany">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="LocationId" type="xs:int" />
      <xs:element minOccurs="0" name="LocationName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocationWithCompany" nillable="true" type="tns:LocationWithCompany" />
  <xs:complexType name="ArrayOfMaterialWithLocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MaterialWithLocation" nillable="true" type="tns:MaterialWithLocation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMaterialWithLocation" nillable="true" type="tns:ArrayOfMaterialWithLocation" />
  <xs:complexType name="MaterialWithLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="LocationId" type="xs:int" />
      <xs:element minOccurs="0" name="MaterialId" type="xs:int" />
      <xs:element minOccurs="0" name="MaterialName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MaterialWithLocation" nillable="true" type="tns:MaterialWithLocation" />
  <xs:complexType name="ArrayOfSelectedColumnData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SelectedColumnData" nillable="true" type="tns:SelectedColumnData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSelectedColumnData" nillable="true" type="tns:ArrayOfSelectedColumnData" />
  <xs:complexType name="SelectedColumnData">
    <xs:sequence>
      <xs:element minOccurs="0" name="SelectedLocation" type="xs:int" />
      <xs:element minOccurs="0" name="SelectedMaterial" type="xs:int" />
      <xs:element minOccurs="0" name="SelectedSampleIdentifiers" nillable="true" type="tns:ArrayOfSampleIdentifier" />
      <xs:element minOccurs="0" name="SelectedTraits" nillable="true" type="tns:ArrayOfTrait" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectedColumnData" nillable="true" type="tns:SelectedColumnData" />
  <xs:complexType name="ArrayOfTrait">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Trait" nillable="true" type="tns:Trait" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrait" nillable="true" type="tns:ArrayOfTrait" />
  <xs:complexType name="Trait">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TraitOrder" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Trait" nillable="true" type="tns:Trait" />
  <xs:complexType name="ArrayOfLocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Location" nillable="true" type="tns:Location" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocation" nillable="true" type="tns:ArrayOfLocation" />
  <xs:complexType name="ArrayOfMaterial">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Material" nillable="true" type="tns:Material" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMaterial" nillable="true" type="tns:ArrayOfMaterial" />
  <xs:complexType name="HistoricalDataWrapper">
    <xs:sequence>
      <xs:element minOccurs="0" name="HistoricalDataList" nillable="true" type="tns:ArrayOfHistoricalData" />
      <xs:element minOccurs="0" name="ReportId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HistoricalDataWrapper" nillable="true" type="tns:HistoricalDataWrapper" />
  <xs:complexType name="ArrayOfHistoricalData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HistoricalData" nillable="true" type="tns:HistoricalData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHistoricalData" nillable="true" type="tns:ArrayOfHistoricalData" />
  <xs:complexType name="HistoricalData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnalysisDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AnalysisId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SampleId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SampleIdentifiers" nillable="true" type="tns:ArrayOfSampleIdentifier" />
      <xs:element minOccurs="0" name="Traits" nillable="true" type="tns:ArrayOfTraitWithResultVal" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HistoricalData" nillable="true" type="tns:HistoricalData" />
  <xs:complexType name="ArrayOfTraitWithResultVal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TraitWithResultVal" nillable="true" type="tns:TraitWithResultVal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTraitWithResultVal" nillable="true" type="tns:ArrayOfTraitWithResultVal" />
  <xs:complexType name="TraitWithResultVal">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Trait">
        <xs:sequence>
          <xs:element minOccurs="0" name="RequestVal" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TraitWithResultVal" nillable="true" type="tns:TraitWithResultVal" />
  <xs:complexType name="ArrayOfFavoriteReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FavoriteReport" nillable="true" type="tns:FavoriteReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFavoriteReport" nillable="true" type="tns:ArrayOfFavoriteReport" />
  <xs:complexType name="HistoricalShowColumnWrapper">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FavoriteReport">
        <xs:sequence>
          <xs:element minOccurs="0" name="Locations" nillable="true" type="tns:ArrayOfLocation" />
          <xs:element minOccurs="0" name="Materials" nillable="true" type="tns:ArrayOfMaterialCriteria" />
          <xs:element minOccurs="0" name="SampleIdentifiers" nillable="true" type="tns:ArrayOfSampleIdentifierWithLocationMaterial" />
          <xs:element minOccurs="0" name="SelectedColumns" nillable="true" type="tns:ArrayOfSelectedColumnData" />
          <xs:element minOccurs="0" name="Traits" nillable="true" type="tns:ArrayOfTraitWithLocationMaterial" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HistoricalShowColumnWrapper" nillable="true" type="tns:HistoricalShowColumnWrapper" />
  <xs:complexType name="ArrayOfSampleIdentifierWithLocationMaterial">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SampleIdentifierWithLocationMaterial" nillable="true" type="tns:SampleIdentifierWithLocationMaterial" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSampleIdentifierWithLocationMaterial" nillable="true" type="tns:ArrayOfSampleIdentifierWithLocationMaterial" />
  <xs:complexType name="SampleIdentifierWithLocationMaterial">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayOrder" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LocationId" type="xs:int" />
      <xs:element minOccurs="0" name="MaterialId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SampleIdentifierWithLocationMaterial" nillable="true" type="tns:SampleIdentifierWithLocationMaterial" />
  <xs:complexType name="ArrayOfTraitWithLocationMaterial">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TraitWithLocationMaterial" nillable="true" type="tns:TraitWithLocationMaterial" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTraitWithLocationMaterial" nillable="true" type="tns:ArrayOfTraitWithLocationMaterial" />
  <xs:complexType name="TraitWithLocationMaterial">
    <xs:sequence>
      <xs:element minOccurs="0" name="CatgoryId" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LocationId" type="xs:int" />
      <xs:element minOccurs="0" name="MaterialId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TraitOrder" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TraitWithLocationMaterial" nillable="true" type="tns:TraitWithLocationMaterial" />
  <xs:complexType name="RDCriteriaWrapper">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnalysisIds" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Categories" nillable="true" type="tns:ArrayOfCategoryCriteria" />
      <xs:element minOccurs="0" name="Companies" nillable="true" type="tns:ArrayOfCompany" />
      <xs:element minOccurs="0" name="DisplayText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Locations" nillable="true" type="tns:ArrayOfLocationCriteria" />
      <xs:element minOccurs="0" name="MahMax" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MahMin" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Materials" nillable="true" type="tns:ArrayOfMaterialCriteria" />
      <xs:element minOccurs="0" name="SampleClasses" nillable="true" type="tns:ArrayOfSampleClass" />
      <xs:element minOccurs="0" name="SelectedCategory" type="xs:int" />
      <xs:element minOccurs="0" name="SelectedCompany" type="xs:int" />
      <xs:element minOccurs="0" name="SelectedLocation" type="xs:int" />
      <xs:element minOccurs="0" name="SelectedMaterial" type="xs:int" />
      <xs:element minOccurs="0" name="SelectedSampleClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SelectedTrait" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Traits" nillable="true" type="tns:ArrayOfTraitWithLocationMaterial" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RDCriteriaWrapper" nillable="true" type="tns:RDCriteriaWrapper" />
  <xs:complexType name="RDDataWrapper">
    <xs:sequence>
      <xs:element minOccurs="0" name="RDDetailDataList" nillable="true" type="tns:ArrayOfRDDetailData" />
      <xs:element minOccurs="0" name="RDHeaderDataList" nillable="true" type="tns:ArrayOfRDHeaderData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RDDataWrapper" nillable="true" type="tns:RDDataWrapper" />
  <xs:complexType name="ArrayOfRDDetailData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RDDetailData" nillable="true" type="tns:RDDetailData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRDDetailData" nillable="true" type="tns:ArrayOfRDDetailData" />
  <xs:complexType name="RDDetailData">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MahValue" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Q2FileId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RequestId" type="xs:int" />
      <xs:element minOccurs="0" name="ResultVal" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SpectralResidual" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Trait" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RDDetailData" nillable="true" type="tns:RDDetailData" />
  <xs:complexType name="ArrayOfRDHeaderData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RDHeaderData" nillable="true" type="tns:RDHeaderData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRDHeaderData" nillable="true" type="tns:ArrayOfRDHeaderData" />
</xs:schema>