InstrumentUI/Service References/DataService/InstrumentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="InstrumentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IInstrumentService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://rsi-dev-mohinder.india.rsystems.com/InstrumentServicesHosted/InstrumentService.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://rsi-dev-mohinder.india.rsystems.com/InstrumentServicesHosted/InstrumentService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://rsi-dev-mohinder.india.rsystems.com/InstrumentServicesHosted/InstrumentService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/QTA.Services.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInstrumentService_AuthenticateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="IInstrumentService_AuthenticateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IInstrumentService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IInstrumentService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IInstrumentService_GetSyncData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSyncData" />
  </wsdl:message>
  <wsdl:message name="IInstrumentService_GetSyncData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSyncDataResponse" />
  </wsdl:message>
  <wsdl:message name="IInstrumentService_UpdateSyncStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSyncStatus" />
  </wsdl:message>
  <wsdl:message name="IInstrumentService_UpdateSyncStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSyncStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IInstrumentService_GetAlerts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlerts" />
  </wsdl:message>
  <wsdl:message name="IInstrumentService_GetAlerts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlertsResponse" />
  </wsdl:message>
  <wsdl:message name="IInstrumentService_SendDataForAnalysis_InputMessage">
    <wsdl:part name="parameters" element="tns:SendDataForAnalysis" />
  </wsdl:message>
  <wsdl:message name="IInstrumentService_SendDataForAnalysis_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendDataForAnalysisResponse" />
  </wsdl:message>
  <wsdl:message name="IInstrumentService_GetResultStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResultStatus" />
  </wsdl:message>
  <wsdl:message name="IInstrumentService_GetResultStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResultStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IInstrumentService_GetResultError_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResultError" />
  </wsdl:message>
  <wsdl:message name="IInstrumentService_GetResultError_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResultErrorResponse" />
  </wsdl:message>
  <wsdl:message name="IInstrumentService_GetResult_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResult" />
  </wsdl:message>
  <wsdl:message name="IInstrumentService_GetResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResultResponse" />
  </wsdl:message>
  <wsdl:message name="IInstrumentService_DeleteResult_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResult" />
  </wsdl:message>
  <wsdl:message name="IInstrumentService_DeleteResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResultResponse" />
  </wsdl:message>
  <wsdl:message name="IInstrumentService_LogError_InputMessage">
    <wsdl:part name="parameters" element="tns:LogError" />
  </wsdl:message>
  <wsdl:message name="IInstrumentService_LogError_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogErrorResponse" />
  </wsdl:message>
  <wsdl:portType name="IInstrumentService">
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstrumentService/AuthenticateUser" message="tns:IInstrumentService_AuthenticateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstrumentService/AuthenticateUserResponse" message="tns:IInstrumentService_AuthenticateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstrumentService/ChangePassword" message="tns:IInstrumentService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstrumentService/ChangePasswordResponse" message="tns:IInstrumentService_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSyncData">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstrumentService/GetSyncData" message="tns:IInstrumentService_GetSyncData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstrumentService/GetSyncDataResponse" message="tns:IInstrumentService_GetSyncData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSyncStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstrumentService/UpdateSyncStatus" message="tns:IInstrumentService_UpdateSyncStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstrumentService/UpdateSyncStatusResponse" message="tns:IInstrumentService_UpdateSyncStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlerts">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstrumentService/GetAlerts" message="tns:IInstrumentService_GetAlerts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstrumentService/GetAlertsResponse" message="tns:IInstrumentService_GetAlerts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendDataForAnalysis">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstrumentService/SendDataForAnalysis" message="tns:IInstrumentService_SendDataForAnalysis_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstrumentService/SendDataForAnalysisResponse" message="tns:IInstrumentService_SendDataForAnalysis_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResultStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstrumentService/GetResultStatus" message="tns:IInstrumentService_GetResultStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstrumentService/GetResultStatusResponse" message="tns:IInstrumentService_GetResultStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResultError">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstrumentService/GetResultError" message="tns:IInstrumentService_GetResultError_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstrumentService/GetResultErrorResponse" message="tns:IInstrumentService_GetResultError_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstrumentService/GetResult" message="tns:IInstrumentService_GetResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstrumentService/GetResultResponse" message="tns:IInstrumentService_GetResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstrumentService/DeleteResult" message="tns:IInstrumentService_DeleteResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstrumentService/DeleteResultResponse" message="tns:IInstrumentService_DeleteResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogError">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstrumentService/LogError" message="tns:IInstrumentService_LogError_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstrumentService/LogErrorResponse" message="tns:IInstrumentService_LogError_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IInstrumentService" type="tns:IInstrumentService">
    <wsp:PolicyReference URI="#WSHttpBinding_IInstrumentService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateUser">
      <soap12:operation soapAction="http://tempuri.org/IInstrumentService/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://tempuri.org/IInstrumentService/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSyncData">
      <soap12:operation soapAction="http://tempuri.org/IInstrumentService/GetSyncData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSyncStatus">
      <soap12:operation soapAction="http://tempuri.org/IInstrumentService/UpdateSyncStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlerts">
      <soap12:operation soapAction="http://tempuri.org/IInstrumentService/GetAlerts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendDataForAnalysis">
      <soap12:operation soapAction="http://tempuri.org/IInstrumentService/SendDataForAnalysis" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResultStatus">
      <soap12:operation soapAction="http://tempuri.org/IInstrumentService/GetResultStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResultError">
      <soap12:operation soapAction="http://tempuri.org/IInstrumentService/GetResultError" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResult">
      <soap12:operation soapAction="http://tempuri.org/IInstrumentService/GetResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteResult">
      <soap12:operation soapAction="http://tempuri.org/IInstrumentService/DeleteResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogError">
      <soap12:operation soapAction="http://tempuri.org/IInstrumentService/LogError" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InstrumentService">
    <wsdl:port name="WSHttpBinding_IInstrumentService" binding="tns:WSHttpBinding_IInstrumentService">
      <soap12:address location="http://rsi-dev-mohinder.india.rsystems.com/InstrumentServicesHosted/InstrumentService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://rsi-dev-mohinder.india.rsystems.com/InstrumentServicesHosted/InstrumentService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>